---
name: "404"
title: "404"
desc: "Import cargo into Canada and the USA, file your manifests electronically 24/7, while complying with CBSA's Advance Commercial Information (ACI) initiative and the U.S. Automated Manifest System (AMS) regulations."
keywords: "cross dock, freight forwarding, freight forwarding jobs, air freight, Truckload services, Canada trucking, North America trucking, customs brokerage, customs broker, customs brokers, customs brokerage Canada, customs brokerage Montreal, customs Mexico, customs China, customs Canada, transportation broker, broker, brokerage, freight, freight agent, freight car, freight forwarder, freight forwarders, freight forwarding Canada, international freight forwarding, shipment, payload, loading, consignment, lading, load, transport, freight rate, charge, freightage, cargo, cargo management, cargo transportation, cargo rate, cargo quote, carrier, carriers, distribution, logistics, logistic, logistics services, global logistic, global transportation, global logistics solutions, provision, supplying, supply, tracking, track, trading, information services, consulting services, air, ocean, bonded warehouse, bus, container services, custom consultants, domestic, export services, ACI, AMS, PARS, PAPS, import services, international, packing and crating, pool car, rail, steamship agents, steamship, trucking services, trucking, truck, dangerous materials, shipping, container ship, dispatch, despatch, storage, warehousing, warehouse, reposition, repositing, import, export, marketing, complex distributions, dispatch, goods transport, goods carry, goods shipping, USA, Canada, Montreal, Mexico, China, Taiwan, Vietnam, Hong Kong, Philippines, Brazil, Cambodia, Barbados, global coverage, social commitment, sustainable action, charity, multimodal, flexibility, customized solutions, time sensitive cargo, supply, supply chain, supply chain solutions, IATA, CIFFA, C_TPAT, PIP, WCA, world cargo, DCMS, purchase order, LTL services, white gloves, consolidation, roll out, distribution capabilities, flatbed, step decks, roll-tite flecibility, over dimensional, expertise, experience, Delmar International Inc., Delmar, Delmarcargo, Delmar cargo, Delmar group, Delmar International, Delmar-group, transpacific, import, export, transload, RI, port, sailing, container, vessel, ACI, AMS, CBSA, production environment, training environment, marine cargo data, CBP, mobile, Ocean Tariff, Tariff Access Request Form,"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
     
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
			  <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
			  <div class="cat-title"></div>
			  <ul class="owl-menu menu-content">
				<li class="single-dropdown loginvisibility">
						<a href="#">English</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../fr/{{this.name}}.html" >Français</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Login</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services</a>
					<ul class="owl-submenu" style="width: 100%;">
						<li><a href="services.html" >International Freight Forwarding</a></li>
						<li><a href="services.html#custombrokerage" >Customs Brokerage Services</a></li>
						<li><a href="services.html#trucking" >Trucking and Ground Services</a></li>
						<li><a href="services.html#warehousing" >Warehousing and Distribution</a></li>
						<li><a href="services.html#technology-1" >Our Technology</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">News and Media</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >Latest News</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >In the Press</a></li>
									<li><a href="news.html#videos" >Videos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Our Company</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html" >Global Coverage</a></li>
								<li><a href="our-company.html#careers" >Careers</a></li>
								<li><a href="our-company.html#commitment" >Social Commitment</a></li>
								<li><a href="our-company.html#goinggreen" >Going Green</a></li>
								<li><a href="our-company.html#ourcompany" >Our Company</a></li>
							
					</ul>
                </li>
                <li class="single-dropdown"><a href="links.html">Links</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >USA</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contact Us
                  <div class="skewed_slide"></div>
                  </a>
                </li>
             </ul>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- ]header -->
			<section id="error-back" data-title="404" >
			<div class="container" style="background: url('../img/404-bg.png') no-repeat ;">
			<img src="../img/404-bg.png"/ style="height: 625px; opacity:0.0;">
			</div>
				

        </section> 


		<!-- [footer -->
<div class="secondb">    
  <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. All rights reserved | <a href="legal.html" target="_blank">Legal</a>  
				</div>
			</div>
        </div>
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->		
