--- 
layout: "news_detail.hbs"
title: "CN Railway and Unifor Reach Tentative Agreement"
posted : 2015-01-24
news: true
home: true
desc: ""
keywords: ""
sm_desc: "A lockout of about 4,800 Canadian National Railway workers was avoided late Monday when CN and Unifor reached a tentative contract settlement. CN had set a deadline of Monday evening to reach a deal with its biggest union, or face a lockout."
rootdir: ""
---
 <p><strong>Source : CBC</strong></p>
 <p>A lockout of about 4,800 Canadian National Railway workers was avoided late Monday when CN and Unifor reached a tentative contract settlement. CN had set a deadline of Monday evening to reach a deal with its biggest union, or face a lockout.</p>
 <p>Unifor said ratification meetings would be held across the country over the next three weeks. It said details of the agreement will only be disclosed after ratification.</p>
 <p><strong>Additional information may be obtained by contacting your local Delmar representative.</strong></p>