--- 
layout: "news_detail.hbs"
title: "CP Engineers on Strike, while CN Engineers Reach a Tentative Labor Agreement"
posted: 2015-02-16
news: true
home: true
desc: ""
keywords: ""
sm_desc: "A Teamsters union representing more than 3,000 Canadian Pacific Railway (CP) locomotive engineers and conductors walked off the job after failing to reach an agreement by the midnight deadline on Feb. 14. Teamsters Canada Rail Conference (TCRC) members went on strike as urgent last-minute talks failed to meet their contract demands."
---
<p><strong>CP</p></strong>
<p>A Teamsters union representing more than 3,000 Canadian Pacific Railway (CP) locomotive engineers and conductors walked off the job after failing to reach an agreement by the midnight deadline on Feb. 14. Teamsters Canada Rail Conference (TCRC) members went on strike as urgent last-minute talks failed to meet their contract demands.</p>
<p>CP said it would implement an “extensive contingency plan” by deploying qualified management employees to maintain a reduced freight service on its Canadian network.</p>
<p>The federal government is expected to introduce legislation to end the strike and a government source told The Canadian Press the legislation will be tabled Monday morning.</p> 
<p><strong>CN</strong></p>
<p>Meanwhile the Canadian National Rail (CN), has reached a tentative labor agreement with the TCRC that represents 1,800 of the company's locomotive engineers in Canada. The deal will be put to a ratification vote by mid-April, when results will be made public, CN said in a statement.</p>

<p><strong>Additional information may be obtained by contacting your local Delmar representative.</strong></p>
