--- 
layout: "news_detail.hbs"
title: "ILWU, PMA reach tentative five-year agreement "
posted : 2015-02-23
news: true
home: true
desc: ""
keywords: ""
sm_desc: "Negotiators for the International Longshore and Warehouse Union and the Pacific Maritime Association have reached a tentative coastwide contract agreement for five years after more than nine months of bargaining."
---
<p><strong>Source: JOC / Feb 20, 2015, 9:52 PM</p></strong>
<p>Negotiators for the International Longshore and Warehouse Union and the Pacific Maritime Association have reached a tentative coastwide contract agreement for five years after more than nine months of bargaining.</p>
<p>ILWU President Robert McEllrath and PMA President James McKenna said they were pleased to reach the tentative contract agreement. “We are also pleased that our ports can now resume full operations,” they said in a joint release.</p>
<p>The membership of both groups must now vote to ratify the contract, a process that could take several weeks. The details of the agreement were not immediately available.</p>
<p>The deal was also praised by Long Beach Mayor Robert Garcia. He thanked President Obama and Labor Secretary Thomas Perez for helping to push the agreement forward in a difficult negotiating environment.</p>
<p>The National Retail Federation said the efforts of management and labor must now be to clear the backlog of containers and vessels at U.S. West Coast ports.  In spite of the agreement, industry analysts, ocean carriers, and truckers, anticipate that it will take at least 90 days for the backlog to be cleared at USWC ports and allow a return to “normal” operations.</p>
<p>Details of the ILWU / PMA Press Release can be viewed by <a href="http://www.delmarcargo.com/assets/PMA_ILWU_RELEASEFINAL22015.pdf" target="_blank">clicking here</a>.</p> 
 <p><strong>Additional information may be obtained by contacting your local Delmar representative.</strong></p>
