--- 
layout: "news_detail.hbs"
title: "New Textile and Apparel Goods’ Certificate of Origin for Least Developed Countries"
posted : 2015-02-16
news: true
home: true
desc: ""
keywords: ""
sm_desc: "The CBSA have issued an updated and fillable form B255 Certificate of Origin covering textile and apparel goods to secure preferred Duty rates under the LDC tariff treatment."
---
<p>The CBSA have issued an updated and fillable form B255 Certificate of Origin covering textile and apparel goods to secure preferred Duty rates under the LDC tariff treatment.</p> 
<p>This form, along with completion instructions, is provided in the following link here.</p>
<p>For purposes of obtaining the LDC preferential tariff treatment, this document must be completed in full by the exporter and be in the possession of the importer at the time the declaration is made.</p>
<p>Rely on DELMAR to assist you with the development of your Customs compliance program.</p>
<p><strong>Delmar’s Compliance & Advisory Services may be reached at: <a href="mailto:advisoryservices@delmar.ca">advisoryservices@delmar.ca</a></strong></p>

