--- 
layout: "news_detail.hbs"
title: "Transpacific Ocean Freight Carriers Announce a General Rate Increase for March 9, 2015"
posted : 2015-02-11
news: true
desc: ""
keywords: ""
sm_desc: "Please be advised that Transpacific ocean freight carriers have announced their intentions to implement a General Rate Increase (GRI) on March 9, 2015 for all ocean freight shipments from Asia & the Indian Sub-Continent (ISC) to all destinations in Canada and the USA at the below mentioned levels:"
---
<p>Please be advised that Transpacific ocean freight carriers have announced their intentions to implement a General Rate Increase (GRI) on March 9, 2015 for all ocean freight shipments from Asia & the Indian Sub-Continent (ISC) to all destinations in Canada and the USA at the below mentioned levels:</p>

<p><span style="text-decoration:underline;">GRI effective March 9, 2015</span><br/> 
usd 12.00 per CBM or 500 kg<br/>
usd 480-540 per 20' container <br/>
usd 600 per 40' container <br/>
usd 675 per 40' HC container <br/>
usd 760 per 45' container<br/>
</p>

<p>Delmar will continue to monitor the situation and advise of any further developments. </p>

<p>Delmar highly recommends that all bookings be made at least 2-3 weeks in advance of intended vessel departure during the peak shipping period leading up to and following the Lunar New Year & Spring Festival holidays in China, occurring this year from February 18-24.</p>
 <p><strong>Additional information may be obtained by contacting your local Delmar representative.</strong></p>