---
name: "login"
title: "Delmar Login"
desc: "Selecting the most efficient and cost effective transportation option can be challenging. At Delmar, we work with you to create solutions that are flexible and result in the most highly reliable and customizable service in the industry. "
keywords: "cross dock, freight forwarding, freight forwarding jobs, air freight, Truckload services, Canada trucking, North America trucking, customs brokerage, customs broker, customs brokers, customs brokerage Canada, customs brokerage Montreal, customs Mexico, customs China, customs Canada, transportation broker, broker, brokerage, freight, freight agent, freight car, freight forwarder, freight forwarders, freight forwarding Canada, international freight forwarding, shipment, payload, loading, consignment, lading, load, transport, freight rate, charge, freightage, cargo, cargo management, cargo transportation, cargo rate, cargo quote, carrier, carriers, distribution, logistics, logistic, logistics services, global logistic, global transportation, global logistics solutions, provision, supplying, supply, tracking, track, trading, information services, consulting services, air, ocean, bonded warehouse, bus, container services, custom consultants, domestic, export services, ACI, AMS, PARS, PAPS, import services, international, packing and crating, pool car, rail, steamship agents, steamship, trucking services, trucking, truck, dangerous materials, shipping, container ship, dispatch, despatch, storage, warehousing, warehouse, reposition, repositing, import, export, marketing, complex distributions, dispatch, goods transport, goods carry, goods shipping, USA, Canada, Montreal, Mexico, China, Taiwan, Vietnam, Hong Kong, Philippines, Brazil, Cambodia, Barbados, global coverage, social commitment, sustainable action, charity, multimodal, flexibility, customized solutions, time sensitive cargo, supply, supply chain, supply chain solutions, IATA, CIFFA, C_TPAT, PIP, WCA, world cargo, DCMS, purchase order, LTL services, white gloves, consolidation, roll out, distribution capabilities, flatbed, step decks, roll-tite flexibility, over dimensional, expertise, experience, Delmar International Inc., Delmar, Delmarcargo, Delmar cargo, Delmar group, Delmar International, Delmar-group, transpacific, import, export, trans-load, RI, port, sailing, container, vessel, air, ocean, FMC, custom freight brokerage, trucking, ground transportation, pick and pack, purchase order, tracking,"
author: "Adriana Molano,  Margarita Mayoral, Isabel Quintela"
jsfile: "index.js"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 

rootdir: ""
---
  
    <!--=======second=======-->
		<section id="login" data-title="login" style="background-color:#FFFFFF;" >
			<div class="d_section d_login" >
				 <div class="d_top">
					<div class="container" >
						<div class="d_loginbar">
								
								<h1><a href="index.html"><img src="../img/delmarcargo_logo_2x.png" alt="" width="310" height="75"></a></h1>
						</div>
					</div>
				</div> 	
			</div> 
			<!-- <div class="d_dividerbar white"></div>	 -->
						<div class=" d_login-background">
				<div class="d_top">
					<div class="container team-member">
						<!-- <div class="container team-member login-box"> -->
						<div class="row">
                           <div class="col-lg-2"></div>
							<div class="col-lg-8">
							<div class="row">
								<!-- <div class="col-lg-1"></div> -->
								<div class="col-lg-12" >
									<div class="row boxes-log-in">
										<div class="col-lg-3"></div> 
										<div class="col-lg-6">
										<!--<div class="row">
											<div class="col-lg-6">
												<h3><span class=""> Login</span></h3> 
											</div>
											<div class="col-lg-4"></div>
											<div class="col-lg-2">
											<h3><i class="fa fa-lock"></i></h3>
												<!-- <h3><i class="fa fa-lock form-top-right"></i></h3>
											</div>
										</div>
										<p style="color:black; text-align:left; line-height: 1.5em;">Username:</p> -->
											<div class="row contact-box10">    
												<form class="contact-box-form" action="https://www.forwarderlogic.com/scripts/ow.exe/Flogic.exe?33,DELMAR" id="aciams_form" method="post" name="aciams" target="_blank" >									
													<div class="">
														<div class="col-lg-6">
															<h3 style="color:black; text-align:left;">Ouverture de session</h3> 
														</div>
													<!-- <div class="col-lg-4"></div> -->
														<div class="col-lg-6">
														<h3 style="text-align:right"><i class="fa fa-lock" style="color:black;"></i></h3>
												<!-- <h3><i class="fa fa-lock form-top-right"></i></h3> -->
														</div>
													</div>
													<!-- <div class="row">
														<div class="col-lg-6">
															<p style="color:black; text-align:left; line-height: 1.5em;">Username:</p>
														</div> 
														<div class="col-lg-6"></div>
													</div> -->
														<!--<form class="contact-box-form" action="https://www.forwarderlogic.com/scripts/ow.exe/Flogic.exe?33,DELMAR" id="aciams_form" method="post" name="aciams" target="_blank" > -->
													<div class="row">
														<div class="col-lg-12">
															<input type="text" name="name" class="contact-box-line" placeholder="Entrez votre nom d'utilisateur">
														</div>
												
													</div>
													<div class="row">
														<div class="col-lg-6">
															<!-- <p style="color:black; text-align:left; line-height: 1.5em;">Password:</p> -->
														</div>
														<div class="col-lg-6 ">
															<p style="font-size: 12px; text-align:right"><a href="#" id="forgot_password_link" class="login_link">Mot de passe oublié? </a></p>
														</div>
													</div>
													<div class="row">
														<div class="col-lg-12">
															<input type="password" name="password" class="contact-box-line" placeholder="Entrez votre mot de pass">
														</div>
												
													</div>	
													<div class="row">
														<div class="col-lg-6">
															<input type="submit" id="sendRequest" value="Connexion" class="btn" name="submit_action" Style="text-align: right-side">
														</div>
														<div class="col-lg-2"></div>
														<div class="col-lg-4">
															<div class="" id="sign_in_options">
																<div id="remember_me_container" style="align:right">
																	<input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" Style="vertical-align: middle; text-align:right-side;">
																	<label class="login_link" for="user_remember_me" id="remember_me_label" Style="color:grey; text-align:right; vertical-align: middle; font-size:13px;">Garder ma session active</label>
																</div>
															</div>
														</div>
													</div>
										<!-- </form> -->
												</form>
											</div>
										</div>
										<div class="col-lg-3"></div>
									</div>
								</div>
								<!-- <div class="col-lg-1"></div> -->
							</div>
							</div>
							<div class="col-lg-2"></div>
						</div>  
						
						
					<!-- </div> -->
					</div>
				</div>
			</div>
		<div class="d_section" >
            <div class=" d_top d_login" >
				<div class="d_loginbar">
					<div class="row">
						<div class="footer-copyright" Style="color:grey">
							© 2015 Delmar International Inc. Tous droits réservés. | <a href="legal.html" target="_blank" style="color: #003399;">Légal</a>   
						</div>
					</div>
					<p></p>
				</div>
			</div>
        </div>   
		</section> 
	</div>
           
		   

	</div>
	
{{#content "script"}}

	
{{/content}}