<!-- {{>site-header}}
<div class="page-content">
   <h2>{{ this.page.title }}</h2>
   {{> body}}
   <ul>
   {{#withSort post 'data.posted'}}
   	 {{#each this.pages }}
   	<li><a href="{{relative ../../page.dest this.dest }}">{{ this.data.title}} </a></li>
     {{/each}}

   {{/withSort}}
   </ul>
</div>
<!-- {{>site-footer}} 